#home-index {
  .desktop {
    .map {
      display: block;
      position: relative;
      height: calc(100% - 64px);
      width: 100%;
    }

    #map {
      height: 100%;
      width: 100%;
      overflow: hidden;
    }

    .content {
      position: absolute;
    }
  }
}
