# Rails configuration
DB_HOST=db
DB_USER=postgres
DB_PWD=dbpass
RAILS_MAX_THREADS=5
REDIS_URL=redis://redis:6379

APP_VERSION=0.0.1
VISIT_DURATION=2

# Rack Attack Setting
THROTTLE_PER_SECOND=5
THROTTLE_IN_SECOND=1

#comma separated
UNUSED_CSV_COLUMNS=location_name

GA_TRACKING_ID=UPDATE_GA_ID
GOOGLE_SITE_VERIFICATION=UPDATE_ME

# Shell with unicode support
LANG=C.UTF-8

SENTRY_LOGGER_DSN=xyz
GOOGLE_SITE_VERIFICATION=UPDATE_ME
WEBPUSHR=

# map marker radius baseline buble size
MAP_MARKER_RADIUS_BASELINE=100
