# Rails configuration
DB_HOST=db
DB_USER=postgres
DB_PWD=dbpass
RAILS_MAX_THREADS=5
REDIS_URL=redis://redis:6379
UNUSED_CSV_COLUMNS=location_name #comma separated
LAST_UPDATED_AT=(គិតត្រឹម ល្ងាចថ្ងៃទី 19 មិនា 2020)

# Shell with unicode support
LANG=C.UTF-8

