# Rails configuration
DB_HOST=db
DB_USER=postgres
DB_PWD=dbpass
RAILS_MAX_THREADS=5
REDIS_URL=redis://redis:6379

#comma separated
UNUSED_CSV_COLUMNS=location_name

# Shell with unicode support
LANG=C.UTF-8

