.information
  .pullbar.d-none
  .page-title.d-flex.align-items-center
    %span.h5.flex-shrink-0{style: "margin-bottom: 0 !important"} ប្រព័ន្ធតាមដានជំងឺកូវីដ១៩
    = render "mobile_nav_bar"

  .segment-panel
    .region.visualization
      <iframe width="350" height="370" src="https://datastudio.google.com/embed/reporting/b0d8e746-7f2e-44fe-a8ab-ee6004f828a6/page/2kxSC" frameborder="0" style="border:0" allowfullscreen></iframe>

    .last-update.text-center.mt-3
      - if @setting.last_updated.present?
        = "(#{@setting.last_updated})"

  .segment-panel
    .region
      .info-tile.detail-info{ style: "display: none" }
        .title{ title: "ព័ត៌មានលម្អិត" }ព័ត៌មានលម្អិត
        #case-detail-info
    = render "/home/shared/video_list"
