.mobile-header
  .a.logo
  .mobile-menu-button
    %i.fa.fa-bars

.mobile-menu-panel{ style: "display: none;" }
  .overlay
  .mobile-menu
    %a.close-button
      %i.fa.fa-times
    .menu-options
      = link_to root_path, class: "menu-option" do
        %i.fa.fa-home
        %div ទំព័រដើម
      .menu-option
        %i.fa.fa-info-circle
        %div អំពីកម្មវិធី