.promote-label.d-flex.flex-row
  .flex-grow-1.text-center
    = link_to 'tel:115', target: '_blank', class: 'text-body' do
      %i.fas.fa-phone-volume
      %span 115

  .flex-grow-1.text-center
    = link_to 'https://www.facebook.com/MinistryofHealthofCambodia/', target: '_blank', class: 'text-body' do
      %i.fab.fa-facebook
      %span cdcmohcam
