%nav.user-navbar.navbar.navbar-light.navbar-expand-lg
  %a.navbar-brand{:href => "#"} ជំងឺឆ្លង COVID-19
  %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNavDropdown.collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item.active
        %a.nav-link{:href => "#"}
          ទំព័រដើម
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{:href => "#"} អំពីកម្មវិធី
      -# %li.nav-item
      -#   = link_to "sites", new_site_path, class: "nav-link"

    .position-absolute{style: 'right: 10px;'}
      = social_share_button_tag('Share to Facebook', :url => 'https://ebs.ilabsea.org/', desc: 'Outbreak-mapping')
