%div
  = link_to root_path do
    = image_tag 'cdc.jpg', width: '24', class: 'rounded-circle'

.headerButtons
  %div.dropup.dropright{:title => t('shared.share')}
    %a{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
      %i.fas.fa-share-square{style: 'font-size: 14px;'}

    .dropdown-menu.p-0
      = social_share_button_tag(t('shared.share_description'), :url => root_path, desc: t('shared.share_description'))

  %div{:title => t('shared.about')}
    = link_to '#' do
      %i.fas.fa-info-circle{style: 'font-size: 16px;'}
