.country.tab
  .page-name
    ជំងឺឆ្លង Coivd-19
  .info-title
    .title{ title: "Total Confirm Cases" }
      ចំនួនករណីឆ្លងសរុប
    .confirmed
      37
    .legend
      .color.ongoing
      .description ករណីអ្នកកំពុងផ្ទុកជំងឺ
      .total 37

      .color.recovered
      .description ករណីអ្នកកំពុងផ្ទុកជំងឺ
      .total 1

      .color.fatal
      .description ករណីអ្នកកំពុងផ្ទុកជំងឺ
      .total 0
  .areas
    .area.selected
      .area-name ទូរទាំងប្រទេស
      .area-total 37
    .area
      .area-name ភ្នំពេញ
      .area-total 9
    .area
      .area-name ព្រះសីហនុ
      .area-total 9
    .area
      .area-name សៀមរាប
      .area-total 2
    .area
      .area-name កំពង់ចាម
      .area-total 3
    .area
      .area-name បាត់ដំបង
      .area-total 4
    .area
      .area-name ព្រះវិហារ
      .area-total 2
    .area
      .area-name បន្ទាយមានជ័យ
      .area-total 2
    .area
      .area-name កំពង់ឆ្នាំង
      .area-total 3
    .area
      .area-name កំពត
      .area-total 2
    .area
      .area-name ត្បូងឃ្មុំ
      .area-total 4
    .area
      .area-name កែប
      .area-total 4
    .area
      .area-name កោះកុង
      .area-total 1