.country.tab
  .page-name
    ជំងឺឆ្លង Coivd-19
  .info-title
    .title{ title: "Total Confirm Cases" }
      ចំនួនករណីឆ្លងសរុប
    .confirmed
      37
    .legend
      .color.ongoing
      .description ករណីអ្នកកំពុងផ្ទុកជំងឺ
      .total 37

      .color.recovered
      .description ករណីអ្នកកំពុងផ្ទុកជំងឺ
      .total 1

      .color.fatal
      .description ករណីអ្នកកំពុងផ្ទុកជំងឺ
      .total 0
  .areas
    .area.selected
      .area-name ទូរទាំងប្រទេស
      .area-total 37
    .area
      .area-name ភ្នំពេញ
      .area-total 9