.tabs
  .country.tab
    <iframe width="800" height="100%" src="https://datastudio.google.com/embed/reporting/c75e4f32-4080-4808-9c32-c9d80c51abb6/page/ZKaSC" frameborder="0" style="border:0" allowfullscreen></iframe>
  .region.tab{style: "width: 54% !important"}
    .subtitle
    .segment-panel
      = render "video_list"
    
