.tabs
  .country.tab
    %iframe{width: "100%", height: "100%", frameborder: "0", style: "border:0", allowfullscreen: true, src: "https://datastudio.google.com/embed/reporting/c75e4f32-4080-4808-9c32-c9d80c51abb6/page/ZKaSC"}
    -# %h1 Listview
    -# <iframe src="http://localhost:3000/list_views" style='width: 250px; height: 300px; border: 0;'></iframe>
    -# %h1 List View with "Cambodia" list open
    -# <iframe src="http://localhost:3000/list_views?location_info=00" style='width: 250px; height: 300px; border: 0;'></iframe>
    -# %h1 Map View
    -# <iframe src="http://localhost:3000/?display_mode=map" style="height: 500px; width: 530px; border: 0;"'></iframe>
    -# %h1 Mobile view
    -# <iframe src="http://localhost:3000/?display_mode=mobile" style="width: 320px; height: 500px; border: 0;"></iframe>
    -# %h1 Desktop view
    -# <iframe src="http://localhost:3000/" style="width: 1024px; height: 600px; border: 0;"></iframe>
  .region.tab{style: "width: calc(30% - 64px) !important"}
    .subtitle
    .segment-panel
      = render "video_list"
    
