- if @device.device_type == "smartphone" || @device.device_type == "phablet"
  .mobile
    .trigger-menu-wrapper
      %a.btn{ href: root_path, style: 'padding: 10px' }
        %i.fas.fa-chevron-left
        %font{size: 4}= t('about.back')

    = render "info"

- else
  .desktop
    .content
      .header
        = render "shared/user_nav_bar"

      = render "info"
