- if @device.device_type == "smartphone" || @device.device_type == "phablet"
  .mobile
    .content
      .information
        %div.text-right{style: 'position: fixed; right: 20px;'}
          %a.btn{ href: root_path }
            %i.fas.fa-chevron-left
            Back
        = render "info"

- else
  .desktop
    .content
      .header
        = render "shared/user_nav_bar"

      = render "info"
