.location-list{ style: "display: none;" }
  .dropdown
    .page-title
      %div ជ្រើសរើសតំបន់
      .close-location
        %i.fa.fa-close
    .dropdown-options.areas
      = render '/home/shared/info_details'
