.area.selected#00{ data: { total: @summary_report.total_case, active: active_case(@summary_report), recovered: @summary_report.recovered_case, fatal: @summary_report.death_case, new_case: @summary_report.new_case, location: @summary_report.location.name_km } }
  .area-name= @summary_report.location.name_km
  .area-total= @summary_report.total_case

- @reports.each do |report|
  .area{ id: report.location.code, data: { total: report.total_case, active: active_case(report), recovered: report.recovered_case, fatal: report.death_case, new_case: report.new_case, location: report.location.name_km, detail: report.report_details.to_json } }
    .area-name
      = report.location.name_km
      - if report.new_case.positive?
        .color.ongoing.d-inline-block.ml-1
    .area-total= report.total_case
