.m-2
  .text-center
    = link_to root_url, target: "_blank", class: "header d-flex align-items-center" do
      = image_tag asset_path("cdc-tran.png"), class: "logo float-left", alt: "នាយកដ្ឋានប្រយុទ្ធនឹងជំងឺឆ្លង"
      %small.d-inline-block.float-left.ml-2
        ប្រព័ន្ធតាមដានជំងឺឆ្លងកូវីដ១៩
        %br
        - if @setting.last_updated.present?
          %span.reported-date= "(#{@setting.last_updated})"

  
  <iframe width="100%" height="370" src="https://datastudio.google.com/embed/reporting/b0d8e746-7f2e-44fe-a8ab-ee6004f828a6/page/2kxSC" frameborder="0" style="border:0;height: calc(100vh - 52px)" allowfullscreen></iframe>
