.desktop
  .content
    = link_to root_url, target: "_blank", class: "float-brand-logo d-inline-block" do
      = image_tag "cdc-tran.png", alt: "នាយកដ្ឋានប្រយុទ្ធនឹងជំងឺឆ្លង", class: "brand-logo"
      .d-inline-block
        ប្រព័ន្ធតាមដានជំងឺឆ្លងកូវីដ១៩
        %br
        - if @setting.last_updated.present?
          %span.reported-date= "(#{@setting.last_updated})"

    #map{ "data-covid-19": @json_reports, style: "height: 100%; width: 100%; overflow: hidden;", "data-summary": @summary_report.to_json }
