.d-flex.justify-content-center.align-items-center.vh-100
  .card
    .card-header 
      %h5 Choose reports
    .card-body
      = simple_form_for :reports, url: reports_path do |f|
        = f.input :file, as: :file, label: false
        = f.submit "Upload", class: "btn btn-primary"
